* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 0.8rem;
}
.div-logo-body{
    margin: 0,5rem;
    padding-left: 1rem;
}
nav{
    background-color: #273C4E;
}
.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.div-right{
    align-items: end;
}
.div-separar{
    display: flex; /* Ativa o Flexbox no container */
    justify-content: space-between; /* Espaça as divs entre as extremidades */
    align-items: center; /* Alinha verticalmente ao centro */
    font-size: 0.7rem;

}
.img-sepair{
    padding-right: 15px;
    padding-left: 15px;
}
h1{
    font-size: 2rem;
    text-align: center;
}
.see-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-footer{
    margin-left: 1rem;
}
.div-direitos-reservados{
    padding: 0.5rem;
}
footer{
    color: white;
    display: flex; /* Ativa o Flexbox no container */
    justify-content: space-between; /* Espaça as divs entre as extremidades */
    align-items: center;
    background-color: #273C4E;
    height: 5rem;
    width: auto;
    
}